<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <!--数据库连接字符串-->
  <connectionStrings>
    <add name="connstr" connectionString="Data Source=.;Initial Catalog=CollegeNet;User Id=sa;Password=123;"/>
  </connectionStrings>
  <appSettings>
    <add key="backupLocation" value="D:\..CollegeNet\"/>
  </appSettings>
</configuration>
